@page "/"
@inject ApiAuthenticationStateProvider _StateProvider

@code
{
    bool isAuth; 
    protected override async Task OnInitializedAsync()
    {
        var state = await _StateProvider.GetAuthenticationStateAsync();
        isAuth = state.User.Identity.IsAuthenticated;
    }
}

@if (isAuth)
{
    <h1>Authorize</h1>
}
else
{
    <h1>Not Authorize</h1>
}

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
