@page "/"
@inject ApiAuthenticationStateProvider _StateProvider

@code
{
    bool isAuth; 
    protected override async Task OnInitializedAsync()
    {
        var state = await _StateProvider.GetAuthenticationStateAsync();
        isAuth = state.User.Identity.IsAuthenticated;
    }
}

@if (isAuth)
{
    <h1>HiN Developers Portal</h1>
}
else
{
    <h1>You have no access, please sign in</h1>
}

Welcome!

<SurveyPrompt Title="How is Blazor working for you?" />
